{% extends 'base.html' %}

{% block title %}Listado Empleados{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-10">
            <br>
            <form class="row g-3" method="GET">
                <div class="col-auto">
                    <label>Ingrese Dato <input type="text" placeholder="Buscar..." name="buscar" value="{{request.POST.buscar}}"> </label>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Buscar</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>

  <div class="card shadow mb-4">
     <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado de Empleados [{{cantidad}}]</h6>
            </div>
            <div class="card-body">
                <a href="{% url 'empleado_listado'%}" class="btn btn-primary">Listar todo</a>
                &nbsp&nbsp <a href="#" class="btn btn-success">Registrar Nuevo</a>
              <br><br>
            {% if empleados %}
              <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover"  width="80%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>D.N.I.</th>
                      <th>Apellido y Nombre</th>
                      <th>Genero</th>
                      <th>Cargo</th>
                      <th>Horario</th>
                      <th>carga_horaria</th>
                      <th>Legajo</th>
                      <th>Foto</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for empleado in empleados %}
                      <tr>
                        <td>{{empleado.id}}</td>
                        <td>{% if empleado.persona.vive %}
                                {{empleado.persona.dni}}
                            {% else%}
                                <p style="color: red"><b>{{empleado.persona.dni}}</b></p>
                            {% endif %}
                        </td>
                        <td>{{empleado.persona.apellido}}, {{empleado.persona.nombre}}</td>
                        <td>{{empleado.persona.genero}}</td>
                        <td>{{empleado.display_cargo}}</td>
                        <td>{{empleado.horario}}</td>
                        <td>{{empleado.carga_horaria}}</td>
                        <td>{{empleado.legajo|safe}}</td>
                        <td>
                        {% if empleado.foto %}
                            <div class="row-picture">
                                <img class="circle" src="{{empleado.foto.url}}" alt="sin foto" width="70" height="70">
                                <br><br>
                            </div>
                        {% else %}
                            <div class="row-picture">
                                <img class="circle" src="/media/docente/avatar.png" alt="sin foto" width="50" height="50">
                            </div>
                        {% endif %}
                        </td>
                        <td>
                            <a href="{{empleado.persona.id}}" class="btn btn-info">...</a>
                            <a href="/{{empleado.persona.id}}" class="btn btn-danger">x</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
             {% else %}
              <h4>NO HAY EMPLEADOS REGISTRADOS</h4>
            {% endif %}
            </div>
          </div>
        </div>
      </div>

 {% endblock %}