{% extends 'base.html' %}

    {% block title %}Persona - Editar{% endblock %}
    {% block content %}

<div class="card">
    <div class="card-header">
        Persona
    </div>
    <div class="card-body" width="50%" >
        <h5 class="card-title">Editar datos de Persona</h5>
        <form method="POST" >
            <table>
                {{formaPersona}}
            </table>
            {% csrf_token %}
            <div>
               <button type="submit" class="btn btn-outline-info" >Editar</button>
            </div>   
        </form>
    </div>
</div>
<div align="center">
    <a href="{% url 'personas_listado' %}" class="btn btn-warning">
       <i class="fa fa-plus-square" aria-hidden="true"></i>
          Cancelar
    </a>
</div>
 {% endblock %}