{% extends 'base.html' %}
{% block title %}Listado Docentes{% endblock %}
{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listado de Docentes [{{cantidad}}]</h6>
    </div>
    <div class="card-body">
        <a href="" class="btn btn-primary"> <i class="fa fa-list-ol" aria-hidden="true"></i>Listar todo</a>

        &nbsp&nbsp <a href="{% url 'docente_crear'%}" class="btn btn-success">Registrar</a>
        <br><br>
        {% if entity %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover"  width="80%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>D.N.I.</th>
                    <th>Docente</th>
                    <th>Genero</th>
                    <th>H.Catedras</th>
                    <th>Titulo</th>
                    <th>Domicilio</th>
                    <th>E-mail</th>
                    <th>Foto</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for docente in entity %}
                <tr>
                    <td VALIGN="middle">{{docente.id}}</td>
                    <td VALIGN="middle">{{docente.persona.dni}}</td>
                    <td VALIGN="middle">{{docente.persona.apellido}}, {{docente.persona.nombre}}</td>
                    <td VALIGN="middle">{{docente.persona.genero}}</td>
                    <td VALIGN="middle">{{docente.horas_catedras}}</td>
                    <td VALIGN="middle">{{docente.titulo}}</td>
                    <td VALIGN="middle">{{docente.persona.domicilio}}</td>
                    <td VALIGN="middle">{{docente.persona.email}}</td>
                    <td VALIGN="middle">
                        {% if docente.persona.foto %}
                        <div class="row-picture">
                            <img class="circle" src="{{docente.persona.foto.url}}" alt="icon" width="80" height="80">
                            <br>
                        </div>
                        {% else %}
                        <div class="row-picture">
                            Sin foto
                            <img class="circle" src="/media/docente/avatar.png" alt="icon" width="50" height="50">
                        </div>
                        {% endif %}
                    </td>
                    <td VALIGN="middle" align="center">
                        <a href="{% url 'docente_detalle' docente.id %}" class="btn btn-outline-info" title="Información">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                {% include 'paginator.html' %}
            </div>
        </div>
        {% else %}
        <h4>NO HAY DOCENTES REGISTRADOS</h4>
        {% endif %}
    </div>
</div>
 {% endblock %}