<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alumno</title>
</head>
<body>
    <h2>Home de alumnos</h2>
    <ol>
        <li> <a href="mesas_listado/">Mesas de Examenes</a> </li>
        <li> <a href="alumno_evaluaciones/">Mis Evaluaciones</a> </li>
        <li> <a href="alumno_cuotas/">Pagos</a> </li>
        <li> <a href="alumno_incrip_final/">Inscripciones Examen Final</a> </li>
        <li> <a href="alumno_perfil/">Perfil</a> </li>
        <li> <a href="../accounts/logout/">Cerrar Sesion</a> </li>

    </ol>
</body>
</html>