
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Secretaria
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="{% url 'inicio' %}">Secretaria</a></li>
                        <li><a class="dropdown-item" href="{% url 'personas_listado' %}">Personas</a></li>
                        <li><a class="dropdown-item" href="{% url 'docente_listado' %}">Docentes</a></li>
                        <li><a class="dropdown-item" href="{% url 'alumno_listado' %}">Alumnos</a></li>
                        <li><a class="dropdown-item" href="{% url 'empleado_listado' %}">Empleados</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'carrera_listado' %}">Carreras</a></li>
                        <li><a class="dropdown-item" href="#">Examenes</a></li>
                        <li><a class="dropdown-item" href="#">Certificados</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Cobros</a></li>
                    </ul>
                </li>