{% extends 'base.html' %}

{% block title %}ISSM - Login{% endblock %}

{% block content %}

{% if form.errors %}
   <p>Su nombre de Usuario y Contraseña no coinciden. Inténtalo de nuevo.</p>
{% endif %}

{% if next %}
   {% if user.is_authenticated %}
      <p>Su cuenta no tiene acceso a esta página. Para proceder,
         por favor inicie sesión con una cuenta que tenga acceso.</p>
   {% else %}
      <p>Por favor inicie sesión para acceder al Sitio.</p>
   {% endif %}
{% endif %}


{# Assumes you setup the password_reset view in your URLconf #}
<label>
    <input value="remember-me" type="checkbox"> Remember me
  </label>
<p><a href="{% url 'password_reset' %}">¿Olvido su Contraseña?</a></p>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Login</span>                        
                    </h2>
                    
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}

                                <div class="mb-3">
                                    {{ form.username.label_tag }}
                                    {{ form.username }}
                                </div>

                                <div class="mb-3">
                                    {{ form.password.label_tag }}
                                    {{ form.password }}
                                </div>
                            
                                <input type="submit" value="login"/>
                                <input type="hidden" name="next" value="{{ next }}"/>
                        </form>
                   
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}