<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secretaria - home</title>
</head>
<body>
    <H2>HOME DE SECRETARIA</H2>
    <h3>Bienvenido {{user}}</h3>
    <ol>
        <li> <a href="carreras_listado/">Listado de Carreras</a> </li>
        <li> <a href="carreras_detalle/">Detalle de Carreras</a> </li>
        <li> <a href="../alumno/">Home de Alumnos</a> </li>
        <li> <a href="../docente/">Home de los Docentes</a> </li>
        <li> <a href="../accounts/logout/">Cerrar Sesion</a> </li>

    </ol>

</body>
</html>